In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset1 = pd.read_csv("s3994666_dataset1_solution.csv")
dataset2 = pd.read_csv("s3994666_dataset2.csv")

In [3]:
dataset1.head(n=10)

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,70215060,Sales Bid Coordinator,surrey,CBSbutler,non-specified,permanent,Engineering Jobs,24000.0,2013-03-01 00:00:00,2013-05-30 00:00:00,cv-library.co.uk
1,71749951,"Primary Teachers Nailsea, Yatton, Congresbury",weston-super-mare,Hays Specialist Recruitment Further Education,non-specified,permanent,Teaching Jobs,18720.0,2012-08-04 12:00:00,2012-09-03 12:00:00,cv-library.co.uk
2,69080174,Internal Technical Engineer Heat Pumps,derbyshire,Bennett and Game Recruitment LTD,non-specified,permanent,Engineering Jobs,19000.0,2013-02-24 15:00:00,2013-05-25 15:00:00,cv-library.co.uk
3,67638009,Regional Sales Manager : PPE and Gas Detectors,uk,On Target Recruitment Ltd,non-specified,permanent,Sales Jobs,42500.0,2013-02-22 15:00:00,2013-04-23 15:00:00,cv-library.co.uk
4,68217496,Senior Assembly Engineer,durham,Baltic Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,38750.0,2013-10-12 12:00:00,2013-11-11 12:00:00,cv-library.co.uk
5,69967015,Associate Civil Infrastructure Design Engineer,essex,Energi Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,45000.0,2013-11-28 00:00:00,2013-12-28 00:00:00,cv-library.co.uk
6,66600487,Sales Advisor **** an hour Immediate Start,sittingbourne,Huntress Group,non-specified,contract,Sales Jobs,13440.0,2012-05-08 15:00:00,2012-06-07 15:00:00,cv-library.co.uk
7,66925309,"Service Desk Analyst Active Directory, Citrix...",london,Pearson Whiffin Affinity,non-specified,permanent,IT Jobs,23500.0,2012-10-03 15:00:00,2013-01-01 15:00:00,cv-library.co.uk
8,69001320,Field Sales (Home based),birmingham,Parkside,non-specified,permanent,Sales Jobs,27500.0,2013-03-13 00:00:00,2013-06-11 00:00:00,cv-library.co.uk
9,70216327,Risk Manager (Junior/Senior),bristol,Electus Recruitment Solutions,non-specified,permanent,Engineering Jobs,45000.0,2012-10-09 15:00:00,2012-12-08 15:00:00,cv-library.co.uk

In [4]:
dataset2.head(n=10)

,Job Title,Organisation,Monthly Payment,Contract Type,Category,Closing,Location,Full-Time Equivalent (FTE),Opening
0,Nursing Home Manager Thames Ditton,Liquid Personnel Ltd,2750.00,NaN,Healthcare and Nursing,2013-02-22 15:00:00,Thames Ditton,FULL TIME,2012-12-24 15:00:00
1,Deputy Manager Nursing Home RGN Shrewsbury,Liquid Personnel Ltd,2583.33,NaN,Healthcare and Nursing,2012-11-14 15:00:00,Shrewsbury,FULL TIME,2012-10-15 15:00:00
2,Deputy Manager Nursing Home (RGN) London,Liquid Personnel Ltd,3000.00,NaN,Healthcare and Nursing,2012-12-08 00:00:00,London,FULL TIME,2012-11-08 00:00:00
3,Deputy Manager (RGN) Nursing Home Bristol,Liquid Personnel Ltd,2791.67,NaN,Healthcare and Nursing,2013-01-13 15:00:00,Bristol,FULL TIME,2012-11-14 15:00:00
4,RGN or RMN Wigan,Eden Brown,2240.00,NaN,Healthcare and Nursing,2013-01-24 15:00:00,Wigan,FULL TIME,2012-11-25 15:00:00
5,Staff Nurse in Elderly (RGN) Bromley,Aaron Millar Recruitment,2000.00,NaN,Healthcare and Nursing,2012-02-01 12:00:00,Bromley,FULL TIME,2012-01-02 12:00:00
6,Practice Nurses Band 5 Northallerton,Hays Healthcare,2880.00,NaN,Healthcare and Nursing,2012-07-21 00:00:00,Northallerton,FULL TIME,2012-04-22 00:00:00
7,RGN or RMN Liverpool,Eden Brown,1996.75,NaN,Healthcare and Nursing,2013-04-06 00:00:00,Liverpool,FULL TIME,2013-03-07 00:00:00
8,**** Clinical Nurse Advisors York York,Hays Healthcare,1916.67,NaN,Healthcare and Nursing,2013-06-26 00:00:00,York,FULL TIME,2013-03-28 00:00:00
9,Scrub Nurse Maidstone,Compass Associates Ltd,2500.00,NaN,Healthcare and Nursing,2013-05-03 15:00:00,Maidstone,FULL TIME,2013-02-02 15:00:00

In [9]:
# Renaming columns in dataset2 to match those in dataset1
dataset2.rename(columns={
    'Job Title': 'Title',
    'Organisation': 'Company',
    'Monthly Payment': 'Salary',
    'Contract Type': 'ContractType',
    'Closing': 'CloseDate',
    'Full-Time Equivalent (FTE)': 'ContractTime',
    'Opening': 'OpenDate'
}, inplace=True)

# Convert Monthly Payment to annual Salary
dataset2['Salary'] = dataset2['Salary'] * 12

# Map 'Full-Time Equivalent (FTE)' to 'ContractTime' values
fte_to_contract_time = {
    'FULL TIME': 'full_time',
    'PART TIME': 'part_time'
}
dataset2['ContractTime'] = dataset2['ContractTime'].map(fte_to_contract_time).fillna('non-specified')

# Generate unique IDs for dataset2 since it lacks 'Id'
max_id = dataset1['Id'].max()
new_ids = range(max_id + 1, max_id + 1 + len(dataset2))
dataset2['Id'] = new_ids

# Adjust the order of columns to match dataset1
columns_order = dataset1.columns

# Adding a 'SourceName' placeholder to dataset2 to match the schema completely
dataset2['SourceName'] = 'jobhuntlisting.com'

# Now reordering dataset2 columns to match dataset1
dataset2 = dataset2[columns_order]

# Display the first few rows of both datasets to confirm alignment
dataset1.head()

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,70215060,Sales Bid Coordinator,surrey,CBSbutler,non-specified,permanent,Engineering Jobs,24000.0,2013-03-01 00:00:00,2013-05-30 00:00:00,cv-library.co.uk
1,71749951,"Primary Teachers Nailsea, Yatton, Congresbury",weston-super-mare,Hays Specialist Recruitment Further Education,non-specified,permanent,Teaching Jobs,18720.0,2012-08-04 12:00:00,2012-09-03 12:00:00,cv-library.co.uk
2,69080174,Internal Technical Engineer Heat Pumps,derbyshire,Bennett and Game Recruitment LTD,non-specified,permanent,Engineering Jobs,19000.0,2013-02-24 15:00:00,2013-05-25 15:00:00,cv-library.co.uk
3,67638009,Regional Sales Manager : PPE and Gas Detectors,uk,On Target Recruitment Ltd,non-specified,permanent,Sales Jobs,42500.0,2013-02-22 15:00:00,2013-04-23 15:00:00,cv-library.co.uk
4,68217496,Senior Assembly Engineer,durham,Baltic Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,38750.0,2013-10-12 12:00:00,2013-11-11 12:00:00,cv-library.co.uk

In [10]:
dataset2.head()

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,72705204,Nursing Home Manager Thames Ditton,Thames Ditton,Liquid Personnel Ltd,NaN,non-specified,Healthcare and Nursing,4752000.00,2012-12-24 15:00:00,2013-02-22 15:00:00,jobhuntlisting.com
1,72705205,Deputy Manager Nursing Home RGN Shrewsbury,Shrewsbury,Liquid Personnel Ltd,NaN,non-specified,Healthcare and Nursing,4463994.24,2012-10-15 15:00:00,2012-11-14 15:00:00,jobhuntlisting.com
2,72705206,Deputy Manager Nursing Home (RGN) London,London,Liquid Personnel Ltd,NaN,non-specified,Healthcare and Nursing,5184000.00,2012-11-08 00:00:00,2012-12-08 00:00:00,jobhuntlisting.com
3,72705207,Deputy Manager (RGN) Nursing Home Bristol,Bristol,Liquid Personnel Ltd,NaN,non-specified,Healthcare and Nursing,4824005.76,2012-11-14 15:00:00,2013-01-13 15:00:00,jobhuntlisting.com
4,72705208,RGN or RMN Wigan,Wigan,Eden Brown,NaN,non-specified,Healthcare and Nursing,3870720.00,2012-11-25 15:00:00,2013-01-24 15:00:00,jobhuntlisting.com

In [17]:
# Replace NaN values with 'non-specified'
integrated_dataset= integrated_dataset.fillna('non-specified')

# Now we can merge the datasets
integrated_dataset = pd.concat([dataset1, dataset2], ignore_index=True)

# Display the first few rows of the integrated dataset to confirm the merge
integrated_dataset.head()

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,70215060,Sales Bid Coordinator,surrey,CBSbutler,non-specified,permanent,Engineering Jobs,24000.0,2013-03-01 00:00:00,2013-05-30 00:00:00,cv-library.co.uk
1,71749951,"Primary Teachers Nailsea, Yatton, Congresbury",weston-super-mare,Hays Specialist Recruitment Further Education,non-specified,permanent,Teaching Jobs,18720.0,2012-08-04 12:00:00,2012-09-03 12:00:00,cv-library.co.uk
2,69080174,Internal Technical Engineer Heat Pumps,derbyshire,Bennett and Game Recruitment LTD,non-specified,permanent,Engineering Jobs,19000.0,2013-02-24 15:00:00,2013-05-25 15:00:00,cv-library.co.uk
3,67638009,Regional Sales Manager : PPE and Gas Detectors,uk,On Target Recruitment Ltd,non-specified,permanent,Sales Jobs,42500.0,2013-02-22 15:00:00,2013-04-23 15:00:00,cv-library.co.uk
4,68217496,Senior Assembly Engineer,durham,Baltic Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,38750.0,2013-10-12 12:00:00,2013-11-11 12:00:00,cv-library.co.uk

In [18]:
# Save the integrated dataset to a CSV file
integrated_dataset.to_csv('s3994666_integrated_dataset.csv', index=False)

In [20]:
df = pd.read_csv('s3994666_integrated_dataset.csv')
df.head(n=20)

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,70215060,Sales Bid Coordinator,surrey,CBSbutler,non-specified,permanent,Engineering Jobs,24000.0,2013-03-01 00:00:00,2013-05-30 00:00:00,cv-library.co.uk
1,71749951,"Primary Teachers Nailsea, Yatton, Congresbury",weston-super-mare,Hays Specialist Recruitment Further Education,non-specified,permanent,Teaching Jobs,18720.0,2012-08-04 12:00:00,2012-09-03 12:00:00,cv-library.co.uk
2,69080174,Internal Technical Engineer Heat Pumps,derbyshire,Bennett and Game Recruitment LTD,non-specified,permanent,Engineering Jobs,19000.0,2013-02-24 15:00:00,2013-05-25 15:00:00,cv-library.co.uk
3,67638009,Regional Sales Manager : PPE and Gas Detectors,uk,On Target Recruitment Ltd,non-specified,permanent,Sales Jobs,42500.0,2013-02-22 15:00:00,2013-04-23 15:00:00,cv-library.co.uk
4,68217496,Senior Assembly Engineer,durham,Baltic Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,38750.0,2013-10-12 12:00:00,2013-11-11 12:00:00,cv-library.co.uk
5,69967015,Associate Civil Infrastructure Design Engineer,essex,Energi Recruitment Services Ltd,non-specified,permanent,Engineering Jobs,45000.0,2013-11-28 00:00:00,2013-12-28 00:00:00,cv-library.co.uk
6,66600487,Sales Advisor **** an hour Immediate Start,sittingbourne,Huntress Group,non-specified,contract,Sales Jobs,13440.0,2012-05-08 15:00:00,2012-06-07 15:00:00,cv-library.co.uk
7,66925309,"Service Desk Analyst Active Directory, Citrix...",london,Pearson Whiffin Affinity,non-specified,permanent,IT Jobs,23500.0,2012-10-03 15:00:00,2013-01-01 15:00:00,cv-library.co.uk
8,69001320,Field Sales (Home based),birmingham,Parkside,non-specified,permanent,Sales Jobs,27500.0,2013-03-13 00:00:00,2013-06-11 00:00:00,cv-library.co.uk
9,70216327,Risk Manager (Junior/Senior),bristol,Electus Recruitment Solutions,non-specified,permanent,Engineering Jobs,45000.0,2012-10-09 15:00:00,2012-12-08 15:00:00,cv-library.co.uk
10,70760781,Year ****/**** Classroom Teacher,london,Harris Hill,non-specified,permanent,Teaching Jobs,33000.0,2012-01-18 12:00:00,2012-04-17 12:00:00,cv-library.co.uk
11,69083216,Project Manager Automation / Dudley / ****k ...,uk,Concept IT,non-specified,permanent,Engineering Jobs,40000.0,2013-07-09 00:00:00,2013-08-08 00:00:00,cv-library.co.uk
12,67369050,Compliance Engineer Chemical Engineering,uk,MatchBox Recruiting Ltd,non-specified,permanent,Engineering Jobs,26000.0,2013-04-23 00:00:00,2013-05-23 00:00:00,cv-library.co.uk
13,69017467,Senior Systems Support Engineer,exeter,Capita Resourcing,non-specified,permanent,IT Jobs,29000.0,2012-12-05 12:00:00,2013-02-03 12:00:00,cv-library.co.uk
14,71123838,Generator Engineer (service and controls),winchester,Reed Property Construction,non-specified,permanent,Engineering Jobs,30000.0,2013-10-29 12:00:00,2014-01-27 12:00:00,cv-library.co.uk
15,69004826,Art Design Teacher Required,uk,TeacherActive,non-specified,contract,Teaching Jobs,26400.0,2012-01-02 12:00:00,2012-01-16 12:00:00,cv-library.co.uk
16,69022095,Level 2 Technical Support Engineer,wiltshire,JAM Recruitment Ltd,non-specified,permanent,IT Jobs,24000.0,2012-01-20 12:00:00,2012-04-19 12:00:00,cv-library.co.uk
17,70757711,Senior VAT Manager,covent garden,Capital Strategy Associates,non-specified,permanent,Accounting & Finance Jobs,77500.0,2013-12-23 15:00:00,2014-03-23 15:00:00,cv-library.co.uk
18,69023187,Events Marketing Head of Engagement,london,V Consultancy,non-specified,contract,"PR, Advertising & Marketing Jobs",37500.0,2013-10-20 12:00:00,2013-12-19 12:00:00,cv-library.co.uk
19,64823454,Locum Hospital Occupational Therapists,norfolk,Evergood Associates,non-specified,contract,Healthcare & Nursing Jobs,48960.0,2012-08-11 15:00:00,2012-09-10 15:00:00,cv-library.co.uk

In [21]:
df.tail(n=20)

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
55683,72710184,Healthcare Development Manager,UK,Barrington James Ltd,Permanent,non-specified,Healthcare and Nursing,7919994.24,2013-04-07 12:00:00,2013-06-06 12:00:00,jobhuntlisting.com
55684,72710185,Senior Medical Writers: Step up to Team Leader...,London,NonStop Recruitment,Permanent,non-specified,Healthcare and Nursing,7919994.24,2013-08-11 15:00:00,2013-09-10 15:00:00,jobhuntlisting.com
55685,72710186,Medical Affairs Clinical Research Physician J...,UK,Flame Pharma,Permanent,non-specified,Healthcare and Nursing,7919994.24,2012-08-05 00:00:00,2012-10-04 00:00:00,jobhuntlisting.com
55686,72710187,Clinical Sales Specialist,UK,New Chapter Consulting,Permanent,non-specified,Healthcare and Nursing,6480000.00,2012-07-29 12:00:00,2012-10-27 12:00:00,jobhuntlisting.com
55687,72710188,Medical Devices Regulatory Affairs Manager Jo...,London,Flame Pharma,Permanent,non-specified,Healthcare and Nursing,6480000.00,2013-07-03 12:00:00,2013-10-01 12:00:00,jobhuntlisting.com
55688,72710189,SAS Programmer All Levels Permanent,UK,Skills Alliance Limited,Permanent,non-specified,Healthcare and Nursing,5759994.24,2013-03-11 15:00:00,2013-05-10 15:00:00,jobhuntlisting.com
55689,72710190,Pharmaceutical Analytical Team Leader Jobs in...,Northern Ireland,Flame Pharma,Permanent,non-specified,Healthcare and Nursing,6120005.76,2013-05-18 15:00:00,2013-07-17 15:00:00,jobhuntlisting.com
55690,72710191,Senior Quality Auditor GCP,South East England,Real,Permanent,non-specified,Healthcare and Nursing,6552005.76,2012-03-06 00:00:00,2012-05-05 00:00:00,jobhuntlisting.com
55691,72710192,Territory Sales Manager: South Midlands / Card...,UK,BWB Associates trading as BW Penman,Permanent,non-specified,Healthcare and Nursing,5975994.24,2012-10-26 15:00:00,2012-12-25 15:00:00,jobhuntlisting.com
55692,72710193,Clinical Product Specialist: South Midlands / ...,East Midlands,BWB Associates trading as BW Penman,Permanent,non-specified,Healthcare and Nursing,5975994.24,2012-11-28 00:00:00,2013-02-26 00:00:00,jobhuntlisting.com
55693,72710194,Senior Med Info Officer,Essex,Key People Limited,Permanent,non-specified,Healthcare and Nursing,4895994.24,2012-07-16 15:00:00,2012-09-14 15:00:00,jobhuntlisting.com
55694,72710195,Territory Manager Orthopaedics,UK,Ortho Executive Limited,Permanent,non-specified,Healthcare and Nursing,5759994.24,2012-01-06 15:00:00,2012-04-05 15:00:00,jobhuntlisting.com
55695,72710196,Territory Manager North West,UK,Remtec Search and Selection,Permanent,non-specified,Healthcare and Nursing,5184000.00,2013-05-13 00:00:00,2013-07-12 00:00:00,jobhuntlisting.com
55696,72710197,Senior Clinical Research Associate (SCRA) UK,UK,Barrington James Ltd,Permanent,non-specified,Healthcare and Nursing,4392005.76,2012-11-04 12:00:00,2012-12-04 12:00:00,jobhuntlisting.com
55697,72710198,IT Infrastructure Specialist (Mlnlycke Health ...,UK,Molnlycke,Permanent,non-specified,Healthcare and Nursing,4104000.00,2013-07-31 15:00:00,2013-10-29 15:00:00,jobhuntlisting.com
55698,72710199,Pharmaceutical Analytical Chemist Jobs in Nor...,Northern Ireland,Flame Pharma,Permanent,non-specified,Healthcare and Nursing,3312005.76,2013-09-24 15:00:00,2013-10-24 15:00:00,jobhuntlisting.com
55699,72710200,Medical Sales Representative South East Essex,UK,The Vacancy Management Company,Fixed Term Contract,non-specified,Healthcare and Nursing,3240000.00,2012-05-21 12:00:00,2012-06-20 12:00:00,jobhuntlisting.com
55700,72710201,SENIOR PROJECT MANAGER EVENT & EXHIBITION AGENCY,Hertfordshire,Live Recruitment,Permanent,non-specified,"PR, Advertising and Marketing",4679994.24,2013-11-17 15:00:00,2013-12-17 15:00:00,jobhuntlisting.com
55701,72710202,Curriculum Leader Mathematics,Wrexham,NaN,Permanent,non-specified,Teaching,720869.76,2012-01-15 12:00:00,2012-03-15 12:00:00,jobhuntlisting.com
55702,72710203,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,NaN,Fixed Term Contract,non-specified,Teaching,3283200.00,2013-04-27 15:00:00,2013-05-11 15:00:00,jobhuntlisting.com